@use '../../scss/abstracts/' as *;

.card {
  background-color: rgba(255, 255, 255, 0.059);
  display: flex;
  align-items: center;
  border-radius: 2.5rem;
  padding: 2rem;
  height: 12rem;
  cursor: pointer;
  transition: 0.2s ease box-shadow;
  justify-content: space-between;

  .card__photo-container{
    width: auto;
  }

  .icon-container {
    display: flex;

    .circle-type {
      width: 25px;
      height: 25px;
      border-radius: 50%;
      margin-right: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15px;
    }
  }

  .info{
    margin: 0rem;
    font-size: 16px;
    font-weight: 400;
    color: $white;
  }

  .namePokemon{
    text-transform: capitalize;
    font-weight: 600;
    font-size: $fontSizeSmall;
    // font-size: 1.2rem;
  }
  
  }
  
  .card:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

 

  