.btn-type-detail {
    height: 30px;
    width: 90px;
    border-radius: 20px;
    border: none;
    transition: 0.2s ease box-shadow;
    color: #000;
    font-size: 13.5px;
    justify-content: center;
    text-align: center;
    font-weight: initial;
    padding: 5px 10px;
    margin-left: 5px;
  }

  .btn-type-detail__text{
    margin: 0
  }