$bodyBg: #F3F4FA;
// $mainBg: #fff;
$mainColor: #27254c;
$txtColor: #4E4D4F;
$lightPurple: #9c99cb;
$purple: #2c2c57;
// $orange: #FF9066;
$white: #fff;
// $black: #000;
// ------------------

$fire: "#f9766c";
$grass: "#2cdbb2";
$electric: "#fbe043";
$water: "#2f9afe";
$ground: "#be875e";
$fairy: "#ffbbbb";
$poison: "#8e91fa";
$bug: "#9abf83";
$dragon: "#fba96c";
$psychic: "#fface5";
$flying: "#ffd19e";
$fighting: "#e3c1a8";
$normal: "#e1e2ff";
$steel: "#a1bebe";
$rock: "#e5e5e5";
$dark: "#a1a1a1";
$ghost: "#aa7ab6";
$ice: "#a4eaea";
// ------------------

$fontFamily: 'Roboto', sans-serif;

$fontSizeSmall: 1rem;
$fontSizeNormal: 1.125rem;
$fontSizeNormalBigger: 1.5rem;
// $fontSizeMedium: 1.25rem;
$fontSizeMedium: 2rem;
$fontSizeLarge: 2.5rem;

$sideBarWidth: 384px;
$sideBarLogoHeight: 171px;
$spacing: 48px;
$mobileSpacing: 24px;
$borderRadius: 30px;

$mobile-width: 600px;
$tablet-width: 1366px;
