@use '../../scss/abstracts/' as *;

.type-btn {
  width: 60%;
    margin: 5px 2px;
    cursor: pointer;
    transition: 0.2s ease box-shadow;
    color: #fff;
    font-size: 1.2rem;
    border: none;
    background-color: transparent;
    height: 100%;
    text-align: start;
}

.type-btn:hover {
  background-color: blueviolet;

}

