@use '../../scss/abstracts/' as *;


.pokedex-container {
  
  grid-template-columns: 1fr 2.5fr;
  grid-template-rows: 1fr;
  grid-template-areas:
  "sidebar main-container";
    background-color: #27254c;
    display: grid;
    box-shadow: rgb(0 0 0 / 80%) 5px 5px 55px inset;
    padding: 1rem;
    min-height: 100vh;
  }
  
  
  @media (max-width:  768px) {
    .pokedex-container {
  
      grid-template-columns: auto;
      grid-template-rows: auto;
      grid-template-areas:
      "main-container"
      "main-container";
        background-color: #27254c;
        display: grid;
        box-shadow: rgb(0 0 0 / 80%) 5px 5px 55px inset;
        padding: 1rem;
      }
  }